<% if params[:q].present? %>
	<div class="container">
		<%= render 'searchs/search_result' %>
	</div>
<% else %>
	<div class="container">
		<div class="row">
		 	<% @jobs.each do |job| %>
		 		<div class="job_card form-group">
			 		<%= link_to job_path(job) do %>
			 			<div class="header_job">
			 				<%= job.name.upcase %>
			 			</div>
			 		<% end %>
			 		<div class="job_content">
			 			<div class="row">
			 				<div class="job_img col-md-5">
			 					<%= image_tag job.jobimg.url, class: "job_image img-responsive" %>
			 				</div>
			 				<div class="job_description col-md-7">
			 					<%= truncate job.description, length: 160 %>
			 					<% if job.description.length >= 160 %>
			 						<%= link_to 'read_more', job_path(job) %>
			 					<% end %>
			 				</div>
			 			</div>
			 		</div>
			 		<div class="job_footer">
			 			<%= job.created_at.to_date.strftime("%d/%m/%Y") %>
			 		</div>
		 		</div>
			<% end %>
		</div>
	</div>
<% end %>
