<div class="container">
	<div class="row">
    <div class="card hovercard">
      <div class="cardheader">

      </div>
      <div class="avatar">
          <%= image_tag @user.userimg.url %>
      </div>
      <div class="info">
        <div class="title">
          <%= @user.fullname %>
        </div>
        <div class="desc"><%= @user.description %></div>
        <div class="desc"><h4><%= @user.address %></h4></div>
      </div>
      <div class="bottom">
        <% if user_signed_in? %>
          <%= link_to "Editer", edit_user_path(@user) %>
        <% end %>
      </div>
      <% if current_user.present? %>
        <div class="form_candidacies">
          <%= render "candidacies/multiple_candidacies" %>
        </div>
      <%end %>
    </div>
  </div>
</div>