<div class="container">
	<div class="row">
    <div class="card hovercard">
      <div class="cardheader">

      </div>
      <div class="avatar">
          <%= image_tag @user.userimg.url %>
      </div>
      <div class="info">
        <div class="title">
          <%= @user.fullname %>
        </div>
        <div class="desc"><%= @user.description %></div>
        <div class="desc"><h4><%= @user.address %></h4></div>
      </div>
      <div class="bottom">
        <%= link_to "Editer", edit_user_path(@user) %>
      </div>
    </div>
  </div>
  <%= render "candidacies/multiple_candidacies" %>
</div>