<%= bootstrap_form_tag url: "/searchs" do |f| %>
  <%= f.label "Search for" %>
  <%= f.text_field :q, params[:q] %>
  <%= f.submit "Go", name: nil %>
<% end %>

<ul>
  <% @jobs.each do |job| %>
    <li>
      <h3>
        <%= link_to job.name, controller: "jobs", action: "show", id: job.id%>
      </h3>
    </li>
  <% end %>
</ul>