<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "JObs next To me!", root_path, class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if user_signed_in? || recruiter_signed_in? %>
          <% if recruiter_signed_in? %>
            <li><%= link_to "Profile", recruiter_path(current_recruiter) %></li>
            <li><%= link_to "Poster un Job", new_job_path %></li>
          <% end %>
          <li><%= link_to "Jobs", jobs_path %></li>
          <% if user_signed_in? %>
            <li><%= link_to "Profile", user_path(current_user) %></li>
          <% end %>
          <li class="pull-right"><%= link_to "Se deconnecter", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Connexion/Inscrire", homepages_path %>
        <% end %>
      </ul>
    </div><!-- /.container-fluid -->
  </div>
</nav>